<p id="notice"><%= notice %></p>

<h1>Listing Jobcard Lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobcard_lists.each do |jobcard_list| %>
      <tr>
        <td><%= jobcard_list.title %></td>
        <td><%= jobcard_list.Description %></td>
        <td><%= link_to 'Show', jobcard_list %></td>
        <td><%= link_to 'Edit', edit_jobcard_list_path(jobcard_list) %></td>
        <td><%= link_to 'Destroy', jobcard_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jobcard list', new_jobcard_list_path %>
<%= link_to 'New Client', client_lists_path %>

